<h1> Your BShare files </h1>

<table cellspacing="4px">
<% Dir.foreach("private/#{@user[:userid]}") do |item| %>
  <% next if item == '.' or item == '..' %>
  <tr>
  <td>
  <%= "#{item}" %>
  </td>
  <td>
  <%= link_to "Download", action: :download, dfile: "#{item}" %> 
  </td>
  <td>
  <%= link_to "Delete", action: :deletefile, dfile: "#{item}" %> 
  </td>
  </tr>
<% end %>
</table>

<div>
<%= form_tag({action: :upload}, multipart: true) do %>
  <p>
  <%= file_field_tag 'ufile' %>
  </p>
  <p>
    <%= submit_tag 'Upload' %>
  </p>
<% end %>
</div>